:root {
  --text-color: rgb(98, 98, 98);
  --grey-color: rgb(180, 173, 158);
  --active-color: rgb(3, 169, 244);
  --primary-font-stack: "Playfair Display", sans-serif;
  --category-font: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font-stack);
}

/* color */

.menu-item-link,
.discription,
.title-articl,
.load-more-button {
  color: var(--text-color);
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* container */
.container {
  width: 901px;
  margin-right: auto;
  margin-left: auto;
}

.content-container {
  padding-bottom: 70px;
}

/* list style */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* site navigation  */
.menu-item-link,
.discription {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.menu-item-link {
  text-decoration: none;
  text-transform: uppercase;
}

.menu-navigation {
  display: flex;
  justify-content: center;
  padding-bottom: 98px;
}
.menu-item .menu-item-link {
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 37px;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--active-color);
  transition: 0.35s;
  cursor: pointer;
}

/* main content */

.blog-articls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 123px;
}

.blog-articls .articl {
  display: block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 123px;
}

.blog-articls .articl:nth-child(2n + 2) {
  margin-right: 0;
}
.blog-articls .articl:nth-child(n + 5) {
  margin-bottom: 0;
}

.title-articl {
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 37px;
}

.category {
  font-size: 14px;
  line-height: 1.2;
  font-family: var(--category-font);
  color: var(--grey-color);
  text-transform: uppercase;
  margin: 0;
  margin-top: 31px;
  margin-bottom: 31px;
}

.load-more-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 1px solid rgb(98, 98, 98);
  width: 164px;
  height: 61px;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

.load-more-button:hover {
  color: var(--active-color);
  transition: 0.35s;
  cursor: pointer;
}
